# Ignore Jupyter Checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/
*-checkpoint.ipynb
*__pycache__*
*subfolders.size*
*/subfolders.size
*/1
*/~
*~
*/*.pth
*.pt
*.pth
*.mp4
*.avi
*/build/
*build/
*/dist/
*dist/
*.egg-info/
*.mhd
*.raw
*.zraw
*/profile.*
*profile.*
*/*.pt
*/*~*
*.tmp
*/*.tmp
*/*.secret
.DS_Store
*/.DS_Store
